name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Run Test for PetStore
      run: mvn test -Dtest=PetStoreTestRunner

    - name: Upload Karate Reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: karate-reports
        path: target/karate-reports
        retention-days: 5
